# 1.How many characters are in the string "Python3"?

- The string **"Python3"** contains **7 characters**

In [2]:
x = "Python3"
len(x)

7

# 2.If text = " Hello World ", what does len(text) return?

In [3]:
text = "Hello World"
len(text)

11

# 3.Count the length of " " (a space character). Is it 0?

In [4]:
m = " "
len(m)

1

# 4.Convert "Good Morning" to uppercase. What do you get?

In [5]:
x = "Good Morning"
x.upper()

'GOOD MORNING'

# 5.What is "HELLO".lower()?

In [6]:
x = 'HELLO'
x.lower()

'hello'

# 6.If msg = "PyThOn", what will msg.upper() and msg.lower() return?

In [7]:
x = "PyThOn"
print(x.lower())
print(x.upper())

python
PYTHON

# 7.What happens if you use .upper() on "123abc!"?

In [8]:
x = "123abc!"
x.upper()

'123ABC!'

# 8.What does "hello world".capitalize() return?

In [9]:
x = "hello world"
x.capitalize()

'Hello world'

# 9.Convert "hello world from python" to title case?

In [10]:
x = "hello world from python"
x.title()

'Hello World From Python'

# 10.Will "JAVA".capitalize() return "Java" or "JAVA"?

In [11]:
x = "JAVA"
x.capitalize()

'Java'

# 11.What’s the difference between "hello world".title() and "hello world".capitalize()?

- `"hello world".title()` → Capitalizes the first letter of **each** word: `"Hello World"`
- "hello world".capitalize()` → Capitalizes **only the first** letter of the string: `"Hello world"`

# 12.Count how many 'o' are in "hello, world!".

In [12]:
x = "hello, world!"
x.count("o")

2

# 13.Given quote = "Practice makes perfect", how many times does 'p' appear?

In [13]:
quote = "Practice makes perfect"
quote.count("p")

1

# 14.What is "Mississippi".count('s')?

In [14]:
x = "Mississippi"
x.count("s")

4

# 15.What does "banana".count("na") return?

In [15]:
x = "banana"
x.count("na")

2

# 16.What is the position of 'e' in "elephant" using .find()?

In [17]:
x = "elephant"
x.find('e')

0

# 17.find() to locate 'z' in "puzzle" — what index is returned?

In [18]:
x = "puzzle"
x.find("z")

2

# 18.What happens if .find() doesn’t find the character?

- If `.find()` doesn’t find the character, it returns **`-1`**.

In [22]:
x.find("o")

-1

# 19.How does index() behave differently from find() when the item isn’t found?

In [21]:
x.index("o")

ValueError: substring not found

# 20.What does "hello".index("e") return?

In [23]:
x = "hello"
x.index("e")

1

# 21.Combine "Hello" and "World" into "HelloWorld"?

In [25]:
x = "Hello"
y = "World"
print(x+y)

HelloWorld

# 22.Use + to add "Hi, " and "Alice" together.

In [1]:
x = "Hi"
y = "Alice"
print(x+y)

HiAlice

# 23.What is the result of "Age: " + str(25)?

In [2]:
print("Age:"+str(25))

Age:25

# 24.Can you concatenate "abc" and "123" to form "abc123"?

In [3]:
print("abc"+"123")

abc123

# 25.Replace "dog" with "cat" in "The dog barks."?

In [4]:
x = "The dog barks"
x.replace("dog","cat")

'The cat barks'

# 26.Given msg = "rain rain go away", replace 'rain' with 'sun'?

In [5]:
x = "rain rain go away"
x.replace("rain","sun")

'sun sun go away'

# 27.What happens when you replace 'a' with '@' in "banana"?

In [6]:
x = "banana"
x.replace("a","@")

'b@n@n@'

# 28.How do you replace spaces with hyphens in "join the party"?

In [7]:
x = "join the party"
x.replace(" ","-")

'join-the-party'

# 29.What does " hello ".strip() return?

In [8]:
"hello".strip()

'hello'

# 30.Remove # from both ends of "###Welcome###" using strip()?

In [11]:
"###Welcome###".strip("#")

'Welcome'

# 31.Does strip() remove characters from the middle of a string?

- No, `strip()` only removes characters from the beginning and end of a string, not the middle.

# 32.How do you remove only the trailing spaces from "Hello "?

In [12]:
"Hello ".rstrip()

'Hello'

# 33.Use .format() to insert "Alice" into "Hello, {}!"?

In [13]:
"Hello, {}!".format("Alice")

'Hello, Alice!'

# 34.What is "{} scored {} marks".format("John", 95)?

In [17]:
"{} scored {} marks".format("John",95)

'John scored 95 marks'

# 35.Fill in two blanks in "{} is {} years old" with "Bob" and 30?

In [15]:
"{} is {} years old".format("Bob",30)

'Bob is 30 years old'

# 36.Can you use numbers with placeholders? Try "{}+{}={}".format(2, 3, 5).

In [1]:
"{}+{}={}".format(2,3,5)

'2+3=5'

# 37.What does "apple,banana,grape".split(",") return?

In [2]:
"apple,banana,grapes".split(",")

['apple', 'banana', 'grapes']

# 38.How many parts do you get from "one two three".split()?

In [5]:
x = "one two three".split()
print(len(x))

3

# 39.Use split("-") on "2025-05-16". What do you get?

In [6]:
"2025-05-16".split("-")

['2025', '05', '16']

# 40.Can you split "hello" using a space as a separator?

In [7]:
"hello".split(" ")

['hello']

# 41.Take " python " and return "PYTHON" with whitespace removed.

In [9]:
x = " python "
y = x.strip()
print(y)
y.upper()

python

'PYTHON'

# 42.Format and print "Score: 100" using .format()

In [11]:
"score:{}".format(100)

'score:100'

# 43.Convert "python is fun" to "Python Is Fun" using any method.

In [12]:
"python is fun".title()

'Python Is Fun'

# 44.Replace all 'l' in "hello world" with '*'

In [13]:
"hello world".replace("l","*")

'he**o wor*d'

# 45.How do you get just the word "World" from "Hello World"?

In [16]:
x = "Hello World"
print(x[6:])

World