# Q1. Create a list of your five favorite fruits. Add a new fruit to the end of the list using the appropriate method.

In [2]:
lst = ["Apple", "Banana", "Mango", "Orange", "Pineapple"]
lst.append("Strawberry ")
print(lst)

['Apple', 'Banana', 'Mango', 'Orange', 'Pineapple', 'Strawberry ']

# Q2. Create a list of numbers from 1 to 5.Insert the number 10 at the second position.

In [3]:
lst = [1,2,3,4,5]
lst[2] = 10
print(lst)

[1, 2, 10, 4, 5]

# Q3. Create a list with duplicate elements. Use a method to find how many times a particular element appears.

In [7]:
lst = [1,1,1,2,3,3,4]
x = lst.count(1)
print(x)

3

# Q4. Remove the third item from a list of 6 elements using a list method.

In [11]:
lst = [1,2,3,4,5,6]
lst.remove(3)
print(lst)

[1, 2, 4, 5, 6]

# Q5. Create a list of your three favorite subjects.Replace the second subject with "Mathematics".

In [14]:
lst = ["Science", "History","English"]
lst[1] = "mathematics"
print(lst)

['Science', 'mathematics', 'English']

# Q6. Create a list and remove the last item using the appropriate method.

In [15]:
lst = [1,2,3,4,5]
lst.pop()
print(lst)

[1, 2, 3, 4]

# Q7. Create a list of countries and add a new country at index 1.

In [16]:
lst = ["india","usa",]
lst.insert(1,"srilanka")
print(lst)

['india', 'srilanka', 'usa']

# Q8. Use a list method to find the position of an element in the list.

In [19]:
lst = [1,2,3,4,5]
x = lst.index(3)
print(x)

2

# Q9. Create a list and check whether an item "apple" exists in it or not (you can use the in keyword).

In [3]:
lst = ["apple", "Banana", "Mango", "Orange", "Pineapple"]
"apple" in lst

True

# Q10. Make a list and use pop() to remove an item.Store the removed item in a variable and print it.

In [4]:
lst = [1 ,2,3 ,4,5]
b = lst.pop()
print(b)

5

# Q11.Create an empty list and add five elements to it using append().

In [5]:
lst = []
lst.append(1)
lst.append(2)
lst.append(3)
lst.append(4)
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

# Q12.Create a list of colors and use insert() to add "purple" at index 2.

In [7]:
lst = ["Red","Blue","Green","Yellow","Orange"]
lst.insert(2,"purple")
print(lst)

['Red', 'Blue', 'purple', 'Green', 'Yellow', 'Orange']

# Q13.Start with a list of two numbers. Append two more numbers. Then insert a number at the beginning.

In [2]:
lst = [1,2]
lst.append(3)
lst.append(4)
lst.insert(0,0)
print(lst)

[0, 1, 2, 3, 4]

# Q14. Create a list of 6 fruits. Remove one by name using remove().

In [3]:
lst = ["Apple", "Banana", "Mango", "Orange", "Pineapple","Strawberry "]
lst.remove("Strawberry ")
print(lst)

['Apple', 'Banana', 'Mango', 'Orange', 'Pineapple']

# Q15.. Use pop() to remove the last element of a list and print the removed value.

In [4]:
x = [1,2,3,4,5]
x.pop()

5

# Q16. Use pop(index) to remove the third item in a list of countries.

In [6]:
lst = ["Canada", "Brazil", "Japan", "Germany", "Kenya"]
lst.pop(3)
print(lst)

['Canada', 'Brazil', 'Japan', 'Kenya']

# Q17.. Try removing an element that doesnâ€™t exist from a list using remove(). What happens?

In [7]:
lst = [1,2,3,4,5]
lst.remove(6)

ValueError: list.remove(x): x not in list

# Q18.Create a list with repeated numbers. Use count() to find how many times 3 appears.

In [8]:
lst = [1,1,2,2,2,3,3,4,]
x = lst.count(3)
print(x)

2

# 19.Create a list of animal names and use index() to find the position of "cat".

In [9]:
lst = ["dog","cat","tiger"]
lst.index("cat")

1

# Q20.What happens if you use index() for a value not in the list? Try it and note the result.

In [10]:
x = [1,2,3,4,5]
x.index(7)

ValueError: 7 is not in list

# Q21.Create a list of numbers in random order. Use sort() to sort them in ascending order.

In [13]:
lst = [1,2,5,6,8,34,23]
lst.sort()
print(lst)

[1, 2, 5, 6, 8, 23, 34]

# Q22.Create a list of names and sort them alphabetically.

In [14]:
names = ["sai","mukesh","sanjay","kishore"]
names.sort()
print(names)

['kishore', 'mukesh', 'sai', 'sanjay']

# 23.. Sort a list in descending order using sort(reverse=True).

In [15]:
lst = [2,3,1,4,5,1,3,7]
lst.sort(reverse=True)
print(lst)

[7, 5, 4, 3, 3, 2, 1, 1]

# Q24. Use reverse() to flip the order of any list.

In [16]:
lst = [1,2,3,4,5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

# Q25.Create a list and make a copy using copy(). Change something in the copy. Show that the original list is unchanged.

In [17]:
x = [1,2,3,4]
c = x.copy()
c[1] = 90
print(x)
print(c)

[1, 2, 3, 4]
[1, 90, 3, 4]

# Q26.Create a list with some elements. Use clear() and show that it becomes empty.

In [19]:
x = [1,2,3,4]
y = x.clear()
print(x)

[]

# Q27.Create a list of 5 numbers.Insert a number at index 2, then remove the first number, then append a new number.Print after each step.

In [22]:
lst = [1,2,3,4,5]
lst.insert(2,7)
lst.remove(1)
lst.append(10)
print(lst)

[2, 7, 3, 4, 5, 10]

# Q28. Create a list of 4 friends' names.Sort the list, reverse it, then remove the second name using pop().

In [24]:
frd = ["ram","sai","teja","mukesh"]
frd.sort()
frd.reverse()
frd.pop(2)
print(frd)

['teja', 'sai', 'mukesh']

# Q29. Make a list with 3 elements.Add one element using append(), one using insert(), then remove the last using pop()

In [26]:
lst = [1,2,3]
lst.append(5)
lst.insert(2,7)
lst.pop()
print(lst)

[1, 2, 7, 3]

# Q30.Copy a list of places you want to visit.Clear the copied list. Show both lists after each step to prove they are independent.

In [28]:
x = [1,2,3,4,5]
y = x.copy()
print(x)
print(y)
y.clear()
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[]