### List
- A list is a built-in ordered, mutable (changeable) collection of items in Python. Lists can contain elements of any data type — numbers, strings, other lists, etc.

In [14]:
# create empty list
lst = []
print(lst)
print(type(lst))

[]
<class 'list'>

In [22]:
l1 = [1,2,3,4,5]
l2 = [1.2,1.4,5.6]
l3 = ["s","m","u"]
l4 = [1,2,3,["m","s""h"],[5,True,6],10,11]
print(l1)
print(l2)
print(l3)
print(l4)

[1, 2, 3, 4, 5]
[1.2, 1.4, 5.6]
['s', 'm', 'u']
[1, 2, 3, ['m', 'sh'], [5, True, 6], 10, 11]

In [23]:
lst =  [1,2,3,"m","yes"]
print(lst[0])
print(len(lst))
print(lst[::-1])
print(lst[0::])
print(lst[1:4])
print(lst[1:4:2])

1
5
['yes', 'm', 3, 2, 1]
[1, 2, 3, 'm', 'yes']
[2, 3, 'm']
[2, 'm']

In [29]:
lst1 = [2,3.6,["python",4,5,8],[4,"cat","hyd",9],10,11]
print(lst1[3][2])

hyd

In [32]:
# append()- is used to add single element to the list
lst = [1,2,3,4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

In [34]:
# extend()- is used to extend list with more than one element
lst = [1,4,5,6]
lst.extend([11,'data',5.7])
print(lst)

[1, 4, 5, 6, 11, 'data', 5.7]

In [35]:
# changing values in a list
lst = [1,2,3,4,5]
lst[3] = 10
lst

[1, 2, 3, 10, 5]

In [8]:
# insert() - we can insert values at any index postion
x = [1,2,3,4,5]
x.insert(2,"cat")
x

[1, 2, 'cat', 3, 4, 5]

In [47]:
# pop() - is used to remove element from list but pop without index number by default it remove last element from the list
# note - we cannot use the pop for the nested list were we use the delete() function
lst = [1,2,3,4,5]
lst.pop()
print(lst)

[1, 2, 3, 4]

In [52]:
# remove()
lst.remove(3)
lst

[1, 2]

In [58]:
# delete()
x = [1,2,3,4,5]
del x[2]
print(x)
del x

[1, 2, 4, 5]

In [9]:
lst2 = [2,3.6,["python",4,5,8],[4,"cat","hyd",9],10,11]
del lst2[0:2]
del lst2[0][2]
del lst2[3][1] 
print(lst2)

TypeError: 'int' object does not support item deletion

In [64]:
# joining two lists
lst3 = [1,2,3,4]
lst4 = [5,6,7,8]
print(lst3 + lst4)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
# count() - to look at the number of occurences of an element in list
lst = [1,2,3,3,3,3,3,4,4,4,5,5]
lst.count(3)

5

In [13]:
# index = to look at the position of the first occurence of an element
lst.index(2)

1

In [19]:
# reverse() - The .reverse() method in Python is used to reverse the elements of a list in place—meaning the list is modified directly and no new list is returned.
lst = [1,2,3,4,5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [20]:
# clear() - The .clear() method in Python is used to remove all elements from a list, effectively making it an empty list.
lst.clear()
print(lst)

[]

# copy() 
- The .copy() method in Python is used to create a shallow copy of a list (or other mutable objects like dictionaries). A shallow copy means it copies the outer list structure, but not the nested elements (they are still referenced).

In [1]:
a = [1,2,3,4,5]
import copy
b = a.copy()
print(a)

[1, 2, 3, 4, 5]

In [4]:
b[2] = 100
print(b)

[1, 2, 100, 4, 5]

print(a)
print(b)

In [29]:
c = copy.deepcopy(a)
c[2] = 9
print(a)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 9, 4, 5]

# deepcopy() 
- deepcopy() is a function from the copy module in Python. It creates a completely independent copy of an object, including all nested (inner) objects. This means changes made to any part of the copied object do not affect the original.

In [31]:
lst = [1,2,3,[4,5]]
y = copy.deepcopy(lst)

In [32]:
y[3][0] = 100

In [33]:
print(lst)
print(y)

[1, 2, 3, [4, 5]]
[1, 2, 3, [100, 5]]

In [40]:
x = [1,4,10,7,8]
a = min(x)
b = max(x)
c = sum(x)
d = 4 in x
print(d)
print(a,b,c)

True
1 10 30

# sort()

In [43]:
# asscending or descending order
lst = [1,2,3,32 ,4, 3, 4,55]
lst.sort()
print(lst)

[1, 2, 3, 3, 4, 4, 32, 55]

In [45]:
# desecending order
lst.sort(reverse=True)
print(lst)

[55, 32, 4, 4, 3, 3, 2, 1]

# Tuple()
- Immutable: Tuples cannot be modified after creation.

- Ordered: Elements in a tuple maintain a defined order.

- Allows Duplicates: Tuples can contain duplicate values.

- Can Store Mixed Data Types: Supports integers, strings, lists, other tuples, etc.

- Defined Using Parentheses (): Tuples are created using round brackets.

- Single-Element Tuples Need a Comma: A trailing comma is required for one-item tuples.

- Supports Indexing and Slicing: You can access elements by index or extract slices.

- More Memory Efficient and Faster than Lists: Especially useful for fixed, read-only data.

- Can Be Used as Dictionary Keys: Tuples are hashable and can be used as keys in dictionaries.

- Supports Built-in Functions: Functions like len(), max(), min(), and sum() can be used (if elements are compatible).

- Supports Packing and Unpacking: You can assign multiple values to/from tuples in a single line.

# NOTE
- tuple are 50% faster than list
- we can avoid accidental changes when we use tuple

In [48]:
tu = (1,2,3,4,5)
print(tu)
print(type(tu))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [49]:
tu = (1,2,3,"sai",3.6)
print(tu)

(1, 2, 3, 'sai', 3.6)

In [51]:
a = tu[0:3]
b = tu[::-1]
c = tu[1:4:2]
d = tu[-4:]
print(a)
print(b)
print(c)
print(d)

(1, 2, 3)
(3.6, 'sai', 3, 2, 1)
(2, 'sai')
(2, 3, 'sai', 3.6)

In [56]:
l = (1,2,3,("sai","ram","raju"),3.7)
print(l)
l[3][2]

(1, 2, 3, ('sai', 'ram', 'raju'), 3.7)

'raju'

In [57]:
l.count(3)

1

# packing and unpacking

In [9]:
a = 3
b = 5
c = (a,b)
f= a,b
print(c)

(3, 5)
(3, 5)

In [21]:
print(f)

(3, 5)

# sorting

In [5]:
tu = (1,2,3,10,5,9)
sorted(tu)

[1, 2, 3, 5, 9, 10]

In [6]:
sorted(tu,reverse=True)

[10, 9, 5, 3, 2, 1]

In [11]:
# capital > small letter
tu = ("monkey","donkey","cat","dog","zebra")
tu1 = ("monkey","donkey","cat","Dog","Zebra")
print(sorted(tu))
sorted(tu1)

['cat', 'dog', 'donkey', 'monkey', 'zebra']

['Dog', 'Zebra', 'cat', 'donkey', 'monkey']

In [14]:
lst = [1,2,3,4,5]
a = (tuple(lst))
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [15]:
tu = (1,2,3,5)
a = (list(tu))
print(a)
print(type(a))

[1, 2, 3, 5]
<class 'list'>

# membership

In [16]:
tu = (1,2,3,4,5)
4 in tu

True

In [15]:
tup = [1,2,3,[5,6,7],9,3]
d = tuple(tup)
tup[3] = (5,6,7)
c = tuple(a)
print(c)

(1, 2, 3, (5, 6, 7), 9, 3)

In [10]:
lst = [1,2,3,[5,6,7],9,3]
lst[3] = tuple(lst[3])

In [12]:
tuple(tup)

(1, 2, 3, (5, 6, 7), 9, 3)