# 1.Create a tuple of five colors and print the second and fourth items.

In [1]:
tup = ("red","Blue","Green","Yellow","Purple")
tup[1]

'Blue'

In [2]:
tup[3]

'Yellow'

# 2.Given a tuple: t = (10, 20, 30, 40, 50), Print the length of the tuple and the last item using negative indexing

In [3]:
 t = (10, 20, 30, 40, 50)
print(len(t))
print(t[-1])

5
50

# 3.Create a tuple with a single item 100. Print its type.

In [5]:
tup = (100,)
print(type(tup))

<class 'tuple'>

# 4.Convert the following list into a tuple: ['apple', 'banana', 'cherry']

In [6]:
lst = ['apple', 'banana', 'cherry']
print(tuple(lst))

('apple', 'banana', 'cherry')

# 5.Check whether the element 'python' exists in the tuple ('java', 'python', 'c').

In [7]:
tup =  ('java', 'python', 'c')
"python" in tup

True

# 6.Slice the tuple t = (1, 2, 3, 4, 5, 6) to get:
- First 3 elements
- Last 2 elements

In [2]:
 t = (1, 2, 3, 4, 5, 6) 
print(t[2])
print(t[4])

3
5

# 7.Concatenate two tuples: a = (1, 2) and b = (3, 4). Store it in a new tuple.

In [3]:
a = (1,2)
b = (3,4)
c = a+b
print(c)

(1, 2, 3, 4)

# 8.Try to change the first element of the tuple (5, 6, 7) to 100. What happens?

In [4]:
tup = (5,6,7) # tuple is unmutable because of it throw the error
tup[0] = 100
tup

TypeError: 'tuple' object does not support item assignment

# 9.Repeat the tuple (1, 2) 3 times and print the result.

In [6]:
tup = (1,2)
t = tup * 3
print(t)

(1, 2, 1, 2, 1, 2)

# 10.Unpack the tuple x = (10, 20, 30) into three variables and print them.

In [7]:
x = (10,20,30)
a,b,c = x
print(a)
print(b)
print(c)

10
20
30

# 11.Use a tuple to return multiple values from a function that takes two numbers and returns (sum, product).

In [21]:
def sum_product(a,b):
    return(a+b,a*b)
res = sum_product(4,5)
print(res)

(9, 20)

# 12.Use count() to find how many times 3 appears in the tuple (1, 2, 3, 3, 3, 4).

In [18]:
tup =  (1, 2, 3, 3, 3, 4)
tup.count(3)

3

# 13.Use index() to find the position of 'cat' in ('dog', 'cat', 'mouse').

In [19]:
tup = ('dog', 'cat', 'mouse')
tup.index("cat")

1

# 14.Convert the string "hello" into a tuple.

In [20]:
s = "hello"
print(tuple(s))

('h', 'e', 'l', 'l', 'o')

# 15.Write a program to find the maximum and minimum values in a tuple of numbers.

In [22]:
tup = (5,6,7,3,4,1)
print(min(tup))
print(max(tup))

1
7