# 1.Create a set of 5 fruits and print it.

In [4]:
s = set({"Apple","Banana","Mango","Orange","Grapes"})
s

{'Apple', 'Banana', 'Grapes', 'Mango', 'Orange'}

In [3]:
print(type(s))

<class 'set'>

# 2.Add "mango" to a set s = {'apple', 'banana'}.

In [6]:
s = {"apple","banana"}
s.add("mango")
s

{'apple', 'banana', 'mango'}

# 3.Try adding 'apple' again to the above set. What happens?

In [7]:
s = {"apple","banana"}
s.add("apple")
s

{'apple', 'banana'}

# 4.Remove 'banana' using remove() and discard() – what’s the difference?

In [8]:
s = {'apple', 'banana', 'mango'}
s.remove("banana") # in this banana is not there then it show error 
s

{'apple', 'mango'}

In [9]:
s.discard("banana") # where discard does not show error
s

{'apple', 'mango'}

# 5.Check if 'apple' exists in the set.

In [10]:
s = {'apple', 'banana', 'mango'}
"apple" in s

True

# 6.Create two sets and perform:
- Union
- Intersection
- Difference

In [12]:
s = {1,2,3,4,5}
s1 = {1,2,3,6,7,8,9}
s.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
s.intersection(s1)

{1, 2, 3}

In [14]:
s1.difference(s)

{6, 7, 8, 9}

# 7.Clear all elements from a set.

In [16]:
s = {1,2,3,4,5}
s.clear()
s

set()

# 8.Use a loop to print all items in a set.

In [18]:
s = {1,2,3,4,5}
for i in s:
    print(i)

1
2
3
4
5

# 9.Convert a list with duplicates to a set to remove duplicates.

In [19]:
lst = [1,2,2,2,3,3,4,4,4]
print(set(lst))

{1, 2, 3, 4}

# 10.Find the length of the set.

In [20]:
s = {1,2,3,4,5}
print(len(s))

5