# 1.Print Numbers 1 to 10 using for loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2.Print the first 5 even numbers using while loop.

In [2]:
count = 0
i = 2
while(count<5):
    if(i%2==0):
        print(i)
        i+=2
        count+=1

2
4
6
8
10

# 3.Print each character of the string "Python" using a for loop.

In [3]:
n = input("enter the string:")
for i in n:
    print(i)

enter the string:python
p
y
t
h
o
n

# 4.Sum of numbers from 1 to 50 using for loop.

In [4]:
sum = 0
for i in range(1,51):
    sum+=i
print(sum)

1275

# 5.Print numbers from 10 to 1 using a while loop (reverse counting).

In [6]:
num = 10
while(num>1):
    print(num)
    num-=1
print(num)

10
9
8
7
6
5
4
3
2
1

# 6.Print all multiples of 3 between 1 and 30 using a for loop.

In [7]:
num = int(input())
for i in range(1,num+1):
    if(i%3==0):
        print(i)

30
3
6
9
12
15
18
21
24
27
30

# 7.Ask the user to enter numbers until they type 0. Calculate the sum of all numbers entered.

In [7]:
sum = 0
n = int(input())
while(n>0):
    sum+=n
    n = int(input())
print(sum)

6
7
8
0
21

# 8.Given a list: nums = [2, 4, 6, 8, 10], print the square of each number.

In [9]:
nums = [2, 4, 6, 8, 10]
lst = []
for i in nums:
    n = i*i
    lst.append(n)
lst

[4, 16, 36, 64, 100]

# 9.Count how many vowels are in a string using a for loop.

In [12]:
str = input().lower()
count = 0
for i in str:
    if(i in "aeiou"):
        count+=1
print(count)

mukesh
2

# 10.Find the factorial of a number using a while loop.

In [16]:
num = int(input())
fact = 1
i = 1
if(num == 0):
    print(1)
else:
    while(i<=num):
        fact*=i
        i+=1
print(fact)

5
120

# 11. Print the following pattern using loops (n = 5):
- *
- * *
- * * *
- * * * *
- * * * * *

In [17]:
num = int(input("enter number of rows:"))
for i in range(num+1):
    for j in range(i+1):
        print("*",end = " ")
    print()

enter number of rows:5
*
* *
* * *
* * * *
* * * * *
* * * * * *

# 12.Print this reverse triangle pattern (n = 4):
- * * * *
- * * *
- * *
- *

In [19]:
num = int(input("enter the number":))
for i in range(num+1):
    for j in range(num-i):
        print("*",end = " ")
    print()

4
* * * *
* * *
* *
*

# 13.Print a right-aligned triangle (n = 4):
-    *
-   * *
-  * * *
- * * * *

In [27]:
num = int(input("enter the number:"))
for i in range(num):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end = " ")
    print()

enter the number:4
    *
   * *
  * * *
 * * * *

# 14.Print number pyramid (n = 5):
- 1
- 1 2
- 1 2 3
- 1 2 3 4
- 1 2 3 4 5

In [36]:
num = int(input())
for i in range(num+1):
    for j in range(1,i+1):
        print(j,end = " ")
    print()

5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 15.Ask the user for 5 inputs using a while loop and store them in a list. Then print the list.

In [37]:
i = 0
l = []
while(i<5):
    lst = int(input())
    i+=1
    l.append(lst)
print(l)

5
4
6
7
8
[5, 4, 6, 7, 8]

# 16.Create a for loop that breaks when it finds the number 7 in a list. Print "Found!" and stop.numbers = [1, 3, 5, 7, 9, 11]

In [41]:
numbers = [1, 3, 5, 7, 9, 11]
for i in numbers:
    if(i == 7):
        print("found!")
        break
    else:
        print(i)

1
3
5
found!